* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #000000;
  pointer-events: none;
}

.ant-tabs-tab-btn {
  color: black !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid black !important;
  z-index: 2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(8, 7, 24); */
  background-color: #c5c5c5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
